{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <img src="{% static 'img/banner_document.png' %}" class="banner-document img-fluid" width="100%" alt="banner">
</div>

<div id="forum-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex my-3">
                <a data-bs-toggle="modal" data-bs-target="#subject-filter">
                    <button class="btn btn-outline-primary me-3 filter-content">Môn học</button>
                </a>
                <a href="{% url 'upload_document' %}">
                    <button class="btn btn-outline-primary filter-content">Đóng góp tài liệu</button>
                </a>
            </div>
            {% comment %} <div class="col-md-6">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
                </form>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<div class="modal modal-fluid modal-vertical fade" id="subject-filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-header-text text-white mt-2">Môn học</h3>
                <button type="button" class="btn-close btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-content-text">
                {% comment %} {% for category in "abcd" %}
                <button class="btn px-2 py-1 text-white {% if category.selected %}selected-filter-items{% endif %}" style="{% if !category.selected %}background-color: #777da7;{% endif %}">Đời sống</button>
                {% endfor %} {% endcomment %}
            </div>
            <div class="modal-footer modal-content-text d-flex justify-content-end">
                <button class="btn btn-outline-primary me-3"><strong>Lưu</strong></button>
            </div>
        </div>
    </div>
</div>

<div id="forum-content">
    <div class="container mb-4">
        {% for document in object_list %}
        <div class="row document-box py-4 {% if forloop.counter|divisibleby:2 %}bg-item-document{% endif %}">
            <div class="col-12">
                {% include 'components/document_box.html' with is_home_page=False document=document%}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'components/pagination.html' with paginator_data=page_obj %}
{% endblock content %}
