<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/img/logo_favico.png">
    <title>Đăng ký</title>
    <link href='https://fonts.googleapis.com/css?family=Big Shoulders Display' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    <link href="../static/css/vendors/register/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/styles.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/daterangepicker.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/main.css" rel="stylesheet" media="all">
    <link href="../static/css/vendors/register/extra_css.css" rel="stylesheet" media="all">
    <meta name="robots" content="noindex, follow">
</head>
<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="background-image: url(../static/img/background_register.jpg);">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Đăng ký</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Tên đăng nhập</label>
                                <input class="input--style-4" type="text" name="user_name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Họ và tên</label>
                                <input class="input--style-4" type="text" name="fullname">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Mã số sinh viên</label>
                                <input class="input--style-4" type="text" name="fullname">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Giới tính</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Nam
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Nữ
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Lớp khóa học</label>
                                <input class="input--style-4" type="text" name="class">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue register-btn" type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
