{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div id="detail-post-body" class="container-fluid py-4">
    <div class="container detail-post-content">
        <div class="row py-4 post-user-info">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 col-sm-8 col-12">
                <img src="{% static 'img/avt_img.jpg' %}" class="rounded-circle me-2" height="40px">
                Thanh Tùng
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3 modal-subject-title">
                    Nhập môn lập trình
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4 modal-subject-description">
                Mình cần hỗ trợ việc học môn nhập môn lập trình vì mình thấy có nhiều vấn đề khó mà mình chưa giải quyết được. Các bạn có ai có thể hỗ trợ giúp mình không?
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4 modal-subject-description">
                <img src="{% static 'icons/membersIcon.svg' %}" class="me-2" alt="members-icon">
                Số người tham gia: 5
            </div>
        </div>
    </div>

    <div class="container detail-post-content">
        <div class="row pt-3 mt-3">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3">
                    <label for="forumDescription" class="form-label post-forum-title">Nội dung lời nhắn</label>
                    <textarea class="form-control post-forum-text" id="forumDescription" rows="4" cols="100%"></textarea>
                  </div>
            </div>
        </div>
        <div class="row post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 col-12 pb-4 d-flex">
                <button class="btn px-2 py-1 me-2 btn-outline-primary d-flex align-items-center">
                    Gửi yêu cầu kết nối
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
