{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div id="detail-post-body" class="container-fluid py-4">
    <div class="pb-4">
        <div class="col page-adress d-flex align-items-center justify-content-center">
          <a href="{% url 'home' %}">
            <p class="mb-0">TRANG CHỦ</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <a href="{% url 'documents-list' %}">
            <p class="mb-0">TÀI LIỆU</p>
          </a>
          <span class="d-flex align-items-center"><img src="{% static 'icons/arrowRightBlack.svg' %}" class="w-100" alt="arrow"></span>
          <p class="current-page">ĐÓNG GÓP TÀI LIỆU</p>
        </div>
    </div>

    <div class="container detail-post-content">
        <div class="row py-4 post-user-info">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 col-sm-8 col-12">
                <img src="{% static 'img/avt_img.jpg' %}" class="rounded-circle me-2" height="40px">
                Thanh Tùng
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 post-forum-title">
                <div class="mb-3">
                    <label for="documentName" class="form-label">Tên tài liệu</label>
                    <input type="text" class="form-control" id="documentName">
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3">
                    <label for="documentDescription" class="form-label post-forum-title">Mô tả tài liệu</label>
                    <textarea class="form-control post-forum-text" id="documentDescription" rows="4" cols="100%"></textarea>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 col-12 pb-4">
                <div class="mb-3">
                    <label for="formFile" class="form-label post-forum-title">Tải tệp lên</label>
                    <input class="form-control post-forum-text" type="file" id="formFile" placeholder="">
                </div>
            </div>
        </div>

        <div class="row post-forum-text">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 col-12 pb-4 d-flex">
                <button class="btn px-2 py-1 me-2 btn-outline-primary d-flex align-items-center">
                    Đóng góp
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
