{% load static %}

<a href="{% url 'document-detail' pk=document.pk %}" {% if is_home_page %}class="document-box ms-5{% endif %}">
    <div class="row" {% if is_home_page %}style="height: 67px;"{% endif %}>
        <div class="document-title">{{ document.name }}</div>
    </div>
    <div class="row mt-3 document-info d-flex">
        <div class="col-md-4 d-none d-md-flex justify-content-start align-items-center">
            <img src="{{ document.owner.avatar.url }}" class="rounded-circle me-2" alt="avt" height="30px" width="30px" style="object-fit: cover;">
            {{ document.owner.user }}
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-start align-items-center">
            <img src="{% static 'icons/clockIcon.svg' %}" class="me-2" alt="Clock-Icon">
            {{ document.created_at|date:"d/m/Y" }}
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-start align-items-center">
            <img src="{% static 'icons/commentsIcon.svg' %}" class="me-2" alt="comments-Icon">
            {{ document.comments.count }} bình luận
        </div>
    </div>
    <div class="row mt-3">
        <div class="document-description" {% if is_home_page %}style="height: 38px;"{% endif %}>{{ document.description }}</div>
    </div>
</a>
