{% load static %}

<a href="{% url "detail_document" %}" {% if is_home_page %}class="document-box ms-5{% endif %}">
    <div class="row" {% if is_home_page %}style="height: 67px;"{% endif %}>
        <div class="document-title">Đề thi Kỹ Thuật Hiển Thị Máy Tính đề số 4 kỳ 2 năm học 2022-2023 – UET</div>
    </div>
    <div class="row mt-3 document-info d-flex">
        <div class="col-md-4 d-none d-md-flex justify-content-start align-items-center">
            <img src="{% static 'img/avt_img.jpg' %}" class="rounded-circle me-2" height="30px">
            Thanh Tùng
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-start align-items-center">
            <img src="{% static 'icons/clockIcon.svg' %}" class="me-2" alt="Clock-Icon">
            07/03/2024
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-start align-items-center">
            <img src="{% static 'icons/commentsIcon.svg' %}" class="me-2" alt="comments-Icon">
            30 bình luận
        </div>
    </div>
    <div class="row mt-3">
        <div class="document-description" {% if is_home_page %}style="height: 38px;"{% endif %}>Đề thi và đáp án An toàn an ninh mạng (INT3307) đề số 1 kỳ 2 năm học 2022-2023 – UET TẢI TÀI LIỆU XUỐNG (Đáp án & đề thi)</div>
    </div>
</a>
