{% load static %}

<div id="news_card" class="col-lg-6 {% if news_index|divisibleby:2 == 0 %}border-right-news{% endif %} {% if news_index > 2 %}border-top-news{% endif %}">
    <a href="{% url 'detail_news' post.pk %}">
        <div class="row pt-4 pb-4">
            <div class="col-sm-1 col-2">
                <div class="row box-news-numerical-order">
                    <div class="news-numerical-order">{{ news_index }}/</div>
                </div>
                <div class="row box-news-date ">
                    <div class="news-date">{{ post.date_published.day }}</div>
                    <div class="d-flex justify-content-center">
                        <hr class="mb-0 mt-0 news-date-underline">
                    </div>
                    <div class="news-date">{{ post.date_published.month }}</div>
                </div>
            </div>
            <div class="col-sm-5 col-10">
                <img src="{% if post.main_image %}{{ post.main_image.url }}{% else %}{% static 'img/news/mini-default-image.jpg' %}{% endif %}" class="mini-news-img d-block w-100" alt="{{ post.title }} image">
            </div>
            <div class="col-sm-6 col-11 d-flex align-items-center">
                <div>
                    <h6 class="title-new mb-4">{{ post.title }}</h6>
                    <p>{{ post.subtitle }}<p>
                </div>
            </div>
        </div>
    </a>
</div>
